# Backend
PROJECT_NAME=Black Сat API
API_VERSION=0.0.1
DEBUG=False

# Postgres
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=
POSTGRES_DB=postgres_db
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/
